:root{
    --primary-color: #5fb2f9;
    --dark-color: #3C4856;
    --light-color: #A0ACBD;
    --white-color: #ffffff;
    --black-color: #000000;
    --lightGray-color: #f2f2f2;
    --red-color: #A72B75;
}