/* CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

header {
    background-color: #ffffff;
    height: 100px; /* Increase height of header container */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px; /* Adjust padding to center image */
  }
  
  img {
    height: 100%; /* Set image height to 100% of header container */
  }

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.home-banner {
    position: relative;
    height: 25vh;
  }

  .home-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-banner-text {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  }

  .services {
    margin-top: -100px; /* Adjust as needed */
    background-color: #ffffff;
    padding-top: 80px;
    text-align: center;
  }
  
  .services h2 {
    margin-bottom: 20px;
  }

  .icon-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create four columns with equal width */
    grid-template-rows: repeat(2, 0.25fr); /* Create two rows with equal height */
    gap: 10px; /* Add a gap between the icons */
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Add height to icon container */
  }

  .icon span {
    font-family: Arial, sans-serif;
    color: #5fb2f9;
    font-size: 14px;
  }

  .line {
    border-top: 1px solid #605d5d;
    width: 100%;
  }

  .about {
    margin: 20px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about-content span.family-owned {
    color: #5fb2f9; 
  }
  
  .about-content span.licensed {
    color: #5fb2f9;
  }

  .hours {
    padding-left: 60px;
  }

  .payment-methods {
    margin: 20px;
    padding-left: 40px;
  }
  
  .about-content span.spanish-english {
    color: #5fb2f9;
  }
  
  .about-content ul,hours ul, .payment-methods ul {
    list-style: disc;
    margin-left: 20px;
  }

  .about-content li, hours li, .payment-methods li {
    margin-bottom: 10px;
  }
  
  .payment-methods p {
    margin-top: 20px;
  }
  
  .payment-methods li {
    margin-bottom: 5px;
  }
  
  .payment-methods li:last-child {
    margin-bottom: 0;
  }
  
  .payment-methods span {
    color: #5fb2f9;
  }

  .brand-images-container {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  .brand-images-1, .brand-images-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  
  .brand-images-2 {
    opacity: 0;
  }
  
  .brand-images-1 img, .brand-images-2 img {
    width: 100px;
    height: auto;
    margin: 10px;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .brand-images-container.animate .brand-images-1 {
    animation: fade 1s ease-in-out forwards;
  }
  
  .brand-images-container.animate .brand-images-2 {
    animation: fade 1s ease-in-out forwards;
  }

  main {
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 200px;
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* Create two rows with equal height */
    gap: 5px; /* Add a gap between the rows */
  }


/* Style for footer element */
footer {
    background-color: #ffffff; /* Set background color for footer element */
    color: #000000; /* Set text color for footer element */
    padding: 20px; /* Add padding to footer element */
    text-align: center; /* Center text in footer element */
    position: absolute; /* Position footer element absolutely */
    bottom: 0; /* Align footer element to the bottom of the page */
    width: 100%; /* Set width of footer element to 100% of parent element */
}
