/*Appointment Form*/
form {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background-color: var(--lightGray-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 40px solid var(--white-color);
  }
  
  .required{
    color: var(--red-color);
  }
  
  .form-header {
    text-align: center;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  .desc-row {
    padding: 10px;
  }
  
  .form-trio-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .form-trio-group {
    flex-basis: calc(33.33% - 30px);
    padding: 10px;
  }
  
  .form-group {
    flex-basis: calc(49% - 12px);
    margin-bottom: 10px;
  }
  
  .form-buttom{
    padding-left: 10px;
  }
  
  .form-group label,
  .form-group input, 
  .form-group textarea {
    width: 100%;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    height: 15px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  
  textarea{
    width: 100%;
    height: 15px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  
  .underline {
    display: block;
    height: 2px;
    background-color: #555;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  input:focus,
  textarea:focus {
    border-color: #555;
  }
  
  input:focus + .underline,
  textarea:focus + .underline {
    transform: scaleX(1);
  }
  
  textarea[name="problem-description"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    margin-bottom: 0; /* Remove bottom margin to match other rows */
  }
  
  button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #559ddc;
  }
  