body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--white-color);
  height: 60px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

img {
  height: 100%;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: var(--black-color);
  text-decoration: none;
}

.home-banner {
  position: relative;
  height: 25vh;
}

.home-banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white-color);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.home-banner-text h2 {
  font-size: 36px;
  white-space: nowrap;
}

.home-banner-text p {
  font-size: 24px;
}

.services {
  margin-top: -50px;
  background-color: var(--white-color);
  text-align: center;
}

.services h2 {
  margin-bottom: 20px;
}

.icon-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.25fr);
  gap: 10px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.icon span {
  color: var(--primary-color);
  font-size: 14px;
}

/* Why Us,Hours, Payment Method Section*/
.about span.family-owned,
.about span.licensed,
.about span.spanish-english {
  color: var(--primary-color);
}

.content-container {
  display: flex;
  align-items: center;
  background-color: var(--dark-color);
}

.image-container {
  flex: 0 0 auto;
  width: 40%;
  max-width: 500px;
  margin-right: 20px;
  height: 100%;
  display: flex;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.sections-container {
  flex-grow: 1;
  padding: 20px;
  align-content: center;
}

.about,
.hours,
.payment-methods {
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--white-color); /* Set text color to white */
}

.about h2,
.hours h2,
.payment-methods h2 {
  color: var(--white-color); /* Set heading color to white */
}

.about ul,
.hours ul,
.payment-methods ul {
  color: var(--white-color); /* Set list item color to white */
}

.about ul,
.hours ul,
.payment-methods ul {
  list-style: disc;
  margin-left: 20px;
}

.about li,
.hours li,
.payment-methods li {
  margin-bottom: 10px;
}

.payment-methods li {
  margin-bottom: 5px;
}

.payment-methods li:last-child {
  margin-bottom: 0;
}

/*Main Content body types*/
main {
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

/* Customer Reviews Section */
.review-header h1, p {
  color: var(--white-color);
  text-align: center;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color);
}

.review-out-of {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.rating-text {
  color: var(--white-color);
  font-size: 18px;
}

.review-column {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.review-box {
  color: var(--white-color);
  padding: 10px;
  margin-bottom: 10px;
}

.review {
  margin-bottom: 10px;
}

.rating {
  font-weight: bold;
}

.review .content {
  max-height: 100px; /* Adjust the value as needed */
  overflow: hidden;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-photo {
  width: 100px; /* Adjust the width and height as needed */
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px; /* Add margin to create space */
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px; /* Add margin to create space */
}

.rating {
  margin-bottom: 10px;
}

.stars {
  display: inline-block;
  width: 105px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.content {
  max-height: 100px;
  overflow: hidden;
}

.read-more {
  color: var(--white-color);
  cursor: pointer;
}

.yelp-logo-container {
  display: flex;
  align-items: center;
}

.yelp-logo {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.posted-on-yelp {
  color: var(--white-color);
  font-size: 14px;
  margin-top: 15px;
}

.review-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  gap: 20px;
}

.review-grid-item {
  border: 1px solid var(--light-color);
  color: var(--white-color);
  padding: 10px;
  height: 85%;
}

.company-qualities {
  color: var(--white-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
}

.company-qualities img {
  width: 100px;
  height: 100px;
}